* {
	margin: 0px;
	padding: 0px;
	background-color: #003f3f;
	color: white;
	font-family: "Liberation Mono", "Aatrix OCRA", "OCR A Extended", "Lucida Console", monospace;
}

body, html {
	height: 100%;
}

h1, h2, h3, h4, h5, h6 {
	text-align: center;
	padding: 1%;
}

.nopad {
	padding: 0 !important;
}

#title {
	color: #ddd;
	position: absolute;
	font-size: 100pt;
	top: 10%;
	left: 5%;
}

.verti-center {
	justify-content: center;
	align-items: center;
}

ul, li {
	padding: 0 16px;
}