* {
	margin: 0px;
	padding: 0px;
	background-color: #003f3f;
	color: white;
	font-family: "JetBrains Mono", "Liberation Mono", "Aatrix OCRA", "OCR A Extended", "Lucida Console", monospace;
}

body,
html {
	height: 100%;
}

nav {
	position: fixed;
	width: 100%;
	top: 0;
}

nav a {
	float: right;
	display: block;
	padding: 20%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	padding: 1%;
}

.nopad {
	padding: 0 !important;
}

#title {
	color: #ddd;
	position: absolute;
	font-size: 100pt;
	top: 10%;
	left: 5%;
}

.verti-center {
	justify-content: center;
	align-items: center;
}

ul,
li {
	padding: 0 16px;
	list-style: none;
}

ul {
	font-size: 20pt;
}

li {
	font-size: 16pt;
}

li a {
	color: #00ffff;
}

.usage {
	font-size: 16pt;
	margin: auto;
	width: 80%;
}

.usage>li {
	text-align: left;
}